@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  font-family: "Libre Baskerville", serif;
  --background-color: #f2e5d5;
  --accent-color-light: #d9c8b4;
  --accent-color-dark: #8c6d51;
  --text-color: #262626;
  --white-color: #f2f2f2;
}
body {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  text-transform: none;
}
li {
  list-style: none;
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
}
section {
  width: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

#main-img1 {
  padding: 20px;
  float: left;
  width: 300px;
  margin-left: 40px;
}
#aboutme-text hr {
  border: solid 2px var(--background-color);
}
.navbar {
  position: sticky;
}
#logo {
  padding: 20px;
  display: inline-block;
}
.navbar img {
  height: 80px;
}
.nav-list {
  display: inline-flex;
  vertical-align: top;
  float: right;
  font-size: small;
  padding: 20px;
}
.nav-list li a {
  padding: 0px 10px;
  color: #262626;
}

#main_text1 {
  height: 300px;
  float: right;
}
#main_text2 {
  float: left;
  height: 260px;
}
#main-text {
  position: fixed;
}

/* About me */

#sectionTitle {
  font-size: 14px;
  padding: 40px;
  text-align: center;
  color: var(--accent-color-dark);
}
#sectionTitle hr {
  display: inline-flex;
  width: 800px;
  vertical-align: middle;
  border: 1px dashed var(--accent-color-dark);
}
#sectionTable {
  background-color: #8c6d51;
  display: inline-flex;
  padding: 20px;
}
#aboutmeImg {
  padding: 30px;
  height: 350px;
}

#aboutmeImg:hover {
  content: url(../img/profile2.png);
}

#aboutme-text {
  width: 540px;
  text-align: left;
}
#aboutme-h2 {
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
}

#aboutme-p1 {
  font-size: 18px;
  font-weight: bold;
}
#aboutme-p2 {
  line-height: 1.5;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
}
#btn-work {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--background-color);
  box-shadow: var(--text-color) 1px 2px 3px;
  color: var(--accent-color-dark);
  font-size: x-small;
}
#btn-work:hover {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--accent-color-dark);
  box-shadow: var(--text-color) 1px 2px 2px;
  color: var(--background-color);
  font-size: x-small;
}

#mywork-p {
  font-size: 14px;
  padding: 20px;
  color: var(--text-color);
}
#work-container {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
#work-box {
  margin: inherit;
  display: inline-flex;
  width: 500px;
  padding: 40px;
}
#work-box-img {
  width: 100%;
}
#work-box img {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 100%;
}
#work-box img:hover {
  transform: scale(1.3);
}
#work-box-text {
  width: 100%;
}
#work-box-text h3 {
  margin: auto;
  font-size: medium;
  text-align: left;
  padding: 20px;
  color: var(--text-color);
}
#work-box-text p {
  margin: auto;
  font-size: smaller;
  text-align: left;
  padding: 20px;
  font-weight: 600;
  color: var(--accent-color-dark);
}
#contactText {
  padding: 70px;
  text-align: left;
  display: inline-block;
}
#aboutme-detail {
  display: inline-block;
  width: 60%;
  padding: 50px;
}
#aboutme-detail-left {
  text-align: left;
  padding: 20px;
}
#aboutme-detail-skill {
  text-align: left;
  padding: 20px;
}
#aboutme-detail-skill > h5 {
  display: inline-flex;
  background-color: var(--accent-color-dark);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 100;
  font-size: small;
}
#detail-left-h3 {
  margin: 0;
  color: var(--text-color);
  font-size: medium;
}
#detail-left-p {
  margin: 0;
  color: var(--accent-color-dark);
  font-size: smaller;
}
#work-box2,
#work-box3,
#work-box4 {
  display: inline-table;
  width: 450px;
  padding: 20px;
  margin-right: 10px;
}

#work-box2 img,
#work-box3 img,
#work-box4 img {
  width: 90%;
  box-shadow: #ada89a 3px 3px 7px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

#work-box2 img:hover,
#work-box3 img:hover,
#work-box4 img:hover {
  transform: scale(1.1);
}

#work-box2 h2,
#work-box3 h2,
#work-box4 h2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: larger;
}

#contact {
  height: 600px;
}

.work_logo {
  display: inline;
  padding: 40px;
}
.work_web {
  display: block;
  padding-right: 40px;
  padding-left: 40px;
}
.work_logo img {
  width: 400px;
}
.work_web img {
  width: 100%;
}
#workHr {
  margin-top: 50px;
  display: block;
  width: 50%;
  border: 1px dashed var(--accent-color-dark);
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container-others {
  position: relative;
  margin: auto;
  width: 500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #262626;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
